---
const year = new Date().getFullYear();
---

<footer class="w-full border-t border-zinc-900 mt-10 py-8 text-center bg-[#09090B]">
	<p class="text-zinc-600 text-sm font-medium">
		&copy; {year} Logox. All rights reserved.
	</p>
</footer>
